<div class="main-container">
  <h2 class="titulo-paciente">Clientes</h2>
  <section class="category">
    <ul class="nav-links">
      <li><a routerLink="/editarPerfil" class="link">Editar Perfil</a></li>
      <li><a routerLink="/reserva" class="link">Reservas</a></li>
      <li><a routerLink="/agenda" class="link">Agendas</a></li>
    </ul>
  </section>

  <div class="divider"></div>

  <h2 class="titulo-paciente">Moderador</h2>
  <section class="category">
    <ul class="nav-links">
      <li><a routerLink="" class="link"></a></li>
      <li><a routerLink="" class="link"></a></li>
      <li><a routerLink="" class="link"></a></li>
      <li><a routerLink="" class="link"></a></li>
    </ul>
  </section>
</div>
