<!DOCTYPE html>
<html>
<head>
    <title>Página de Agenda</title>
</head>
<body>
    <h1>Agenda</h1>
    <form>
        <label for="nombre-negocio">Nombre del Negocio:</label>
        <input type="text" id="nombre-negocio" name="nombre-negocio" required>
        <br><br>
        <label for="tematica">Temática:</label>
        <input type="text" id="tematica" name="tematica" required>
        <br><br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" rows="5" required></textarea>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
