<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo
    cliente</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm" (ngSubmit)="registrar()">
            <div>
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <input type="text" maxlength="30" required="true" name="nombre" [(ngModel)]="registroClienteDTO.nombre">
            </div>
            <div>
                <label>Foto: </label>
                <input type="file" required="true" name="fotoPerfil" (change)="onFileChange($event)" multiple>
            </div>
            <div>
                <label>Ciudad: </label>
                <select required="true" name="ciudadResidencia" [(ngModel)]="registroClienteDTO.ciudadResidencia">
                    <option value="" selected>Seleccione una ciudad</option>
                    @for (item of ciudades; track $index) { <option [value]="item" >{{item}}</option>}
                </select>
            </div>
            <div>
                <label>Username: </label>
                <input type="text" maxlength="30" required="true" name="nickname" [(ngModel)]="registroClienteDTO.nickname">
            </div>
            <div>
                <label>Correo electrónico: </label>
                <input type="email" email="true" required="true" name="email" [(ngModel)]="registroClienteDTO.email">
            </div>
            <div>
                <label>Contraseña: </label>
                <input type="password" minlength="8" required="true" name="password" [(ngModel)]="registroClienteDTO.password">
            </div>
            <div>
                <label>Repetir contraseña: </label>
                <input type="password" minlength="8" required="true" name="confirmaPassword" [(ngModel)]="registroClienteDTO.confirmaPassword">
            </div>
            @if (!sonIguales()) {<p>Las contraseñas no coinciden</p>}
           <button type="submit" [disabled]="f.invalid || !sonIguales()">Registrarse</button>
        </form>
    </div>
    </div>