<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio de Sesión</title>
</head>
<body>

  <div class="card">

    <div class="card-header">
      <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Inicio de Sesión</h5>
    </div>

    <div class="card-body">

      <form >

        <div class="form-group">
          <label for="correo">Correo o Usuario:</label>
          <input type="text" name="correo" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="contrasena">Contraseña:</label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-circle-plus me-1"></i>Entrar
          </button>
        </div>

        <div class="mb-3 recuperar-contrasena">
          <button class="btn btn-outline-light me-2" type="button">
            <i class="fa-solid fa-key me-1"></i>Recuperar Contraseña
          </button>
        </div>

      </form>
    </div>
  </div>
</body>
</html>
