<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Enviar link recuperación</h5>
    </div>
    <div class="card-body p-5">
        <app-alerta [alerta]="alerta"></app-alerta>
        <form #formulario="ngForm">

            <div class="mb-3">
                <label class="col-sm-2 col-form-label">Correo:</label>
                <div class="col-sm-10">
                    <input #correo="ngModel" [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="text" name="correo" class="form-control" required [(ngModel)]="cambioPasswordDTO.email" />
                </div>
            </div>


            <div class="mb-3">
                <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid" (click)="recuperarContrasena()">
          <i class="fa-solid fa-circle-plus me-1"></i>Recuperar contraseña
        </button>
            </div>

        </form>
    </div>
</div>