<div class="card">

  <div class="card-header ps-5 pt-4 pb-4">
      <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>editar perfil del cliente</h5>
  </div>

  <div class="card-body p-5">
      <form #formulario="ngForm">

          <div class="mb-3">
              <label class="col-sm-2 col-form-label">ID: </label>
              <div class="col-sm-10">
                  <input #id="ngModel" type="text" maxlength="10" required="true" name="id" [(ngModel)]="actualizarClienteDTO.id">
              </div>
          </div>

          <div class="mb-3">
              <label class="col-sm-2 col-form-label">Nombre: </label>
              <div class="col-sm-10">
                  <input #nombre="ngModel" [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''"
                  type="text" name="nombre" class="form-control" required [(ngModel)]="actualizarClienteDTO.nombre" />
              </div>
          </div>

          <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Foto: </label>
              <div class="col-sm-8">
                  <input type="file" class="form-control" required="true" name="fotoPerfil" (change)="onFileChange($event)" multiple>
              </div>

              <div class="col-sm-2" >
                <button type="submit" [disabled]="archivos == null" class="btn btn-primary"
                  (click)="subirImagen()" >
                  <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
                </button>
              </div>
          </div>

          <div class="mb-3">
              <label class="col-sm-2 col-form-label">Ciudad: </label>
              <div class="col-sm-10">
                  <select required="true" name="ciudadResidencia" class="form-select" [(ngModel)]="actualizarClienteDTO.ciudadResidencia">
                      <option value="" selected>Seleccione una ciudad</option>
                      @for (item of ciudades; track $index) { <option [value]="item" >{{item}}</option>}
                  </select>
              </div>
          </div>

          <div class="mb-3">
              <label class="col-sm-2 col-form-label">Username: </label>
              <div class="col-sm-10">
                  <input #nickname="ngModel" [ngClass]="nickname.invalid && (nickname.dirty || nickname.touched) ? 'is-invalid' : ''"
                  type="text" maxlength="30" required="true" name="nickname" [(ngModel)]="actualizarClienteDTO.nickname">
              </div>
          </div>

          <div class="mb-3">
              <label class="col-sm-2 col-form-label">Correo electrónico: </label>
              <div class="col-sm-10">
                  <input #email="ngModel" [ngClass]="email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''"
                  type="email" email="true" required="true" name="email" [(ngModel)]="actualizarClienteDTO.email">
              </div>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid" (click)="editarPerfil()">
              <i class="fa-solid fa-circle-plus me-1"></i>Enviar
            </button>
          </div>

          <div class="mb-3">
            <!--(click)="eliminarCuenta()" va en el boton eliminar cuenta-->
            <button class="btn btn-danger" type="submit" (click)="eliminarCuenta()">
              <i class="fa-solid fa-trash me-1"></i>Eliminar Cuenta
            </button>
          </div>

          <hr class="separator">

          <h5 class="mb-3">Cambiar La Contraseña</h5>

          <div class="mb-3">
            <label class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
              <input #email="ngModel" [ngClass]="email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''"
                type="email" name="correo" class="form-control" required [(ngModel)]="cambioPasswordDTO.email" />
            </div>
          </div>

          <div class="mb-3 ">
            <label class="col-sm-2 col-form-label"> Nueva Contraseña: </label>
            <div class="col-sm-10">
              <input #password="ngModel"
                [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''" type="password"
                name="password" class="form-control" [(ngModel)]="cambioPasswordDTO.passwordNueva" required="true" />
            </div>
          </div>

          <!--
          <div class="mb-3">
            <button class="btn btn-primary" type="submit"  (click)="cambiarContrasena()">
              <i class="fa-solid fa-key me-1"></i>Cambiar Contraseña
            </button>
          </div>
          -->

          <!--
          @if (!sonIguales()) {<p>Las contraseñas no coinciden</p>}
          -->
      </form>
  </div>
</div>
